# Node.js / React
node_modules/
build/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
.env

# VS Code / IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
